html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: #FBF5E5;
    background-color: #000;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.seperator {
    width: 90%;
    height: 0.1rem;
    background-color: #FBF5E5;
    opacity: 0.3;
    margin: 10rem auto;
}

.main-container {
    max-width: 95rem;
    width: 90%;
    margin: auto;
    position: relative;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #FBF5E5;
    font-weight: 800;
}

.title {
    height: 5rem;
    margin-top: 5rem;
    max-height: 10%;

    h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }

    ::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 4rem;
        background: #C890A7;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        top: 50px;
    }

}

.main-container {
    font-size: 1.5rem;
    text-align: left;

    .content {
        margin-top: 5rem;

        .content-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            cursor: pointer;
        }

        .header {
            .header-details {
                h1 {
                    font-size: 2rem;
                    text-align: left;
                    font-style: bold;
                }
            }

            .header-duration {
                small {
                    font-size: 1.3rem;
                    font-style: italic;
                }
            }
        }

        .logo {
            img {
                width: 15rem;
                height: 15rem;
                display: block;
                background: #F1F1F2;
                padding: 1rem;
                border-radius: 15rem;
            }

            #fitImage {
                object-fit: contain;
            }

            margin: 1rem;
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .skills {
            display: flex;
            flex-wrap: wrap;

            .skill {
                display: block;
                margin: 1rem 2rem;
                padding: 1rem 1rem;
                background-color: rgba(153, 153, 153, 0.2);
                border-radius: 5px;
            }
        }

    }
}

.standalone-container {
    max-width: 100%;
    display: block;
    .content {
        margin-top: 15rem;

        .content-container {
            cursor: default;
        }

        .header {
            .header-details {
                h1 {
                    font-size: 4rem;
                    text-align: left;
                    font-style: bold;
                }
            }

            .header-duration {
                small {
                    font-size: 2rem;
                    font-style: italic;
                }
            }
        }

        img {
            width: 25rem !important;
            height: 25rem !important;
            border-radius: 25rem !important;
        }

        .skill {
            margin: 1rem 2rem !important;
            padding: 1.5rem 2rem !important;
            border-radius: 1.5rem !important;
            font-size: 2.5rem;
        }

        .description {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}

@media only screen and (max-width: 37.5em) {
    .standalone-container {
        .content {
            margin-top: 10rem !important;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;

        .logo {
            padding-right: 0 !important;

            img {
                width: 15rem !important;
                height: 15rem !important;
                border-radius: 20rem !important;
            }
        }

        .description {
            font-size: inherit !important;
            line-height: inherit !important;
        }

        .header {
            .header-details {
                h1 {
                    font-size: 2rem !important;
                }
            }

            .header-duration {
                small {
                    font-size: 1.3rem !important;
                }
            }
        }

        .skill {
            font-size: inherit !important;
            margin: 1rem 2rem !important;
            padding: 1rem 1rem !important;
            border-radius: 5px !important;
        }
    }
}

.in-line {
    h1, h2, h3 {
        display: inline-block;
    }
}


::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}




::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 59%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56%;
    }
}