<div class="main-container standalone-container">
    <app-work-project-template [entity]="queryDetails.container" [description]="queryDetails.desccription"></app-work-project-template>
    <div class="carousel" *ngIf="queryDetails.carousel.length > 0">
        <div class="image-container fade" *ngFor="let imagePath of queryDetails.carousel; index as index"
            [ngStyle]="imageIndex === (index + 1)?{'display': 'block'}:{'display': 'none'}">
            <div class="number-text">{{index + 1}} / {{queryDetails.carousel.length}}</div>
            <img [src]="imagePath">
        </div>
        <a class="prev" (click)="moveSlide(-1)">&#10094;</a>
        <a class="next" (click)="moveSlide(1)">&#10095;</a>
    </div>
</div>