.carousel {
    position: relative;
    top: 10rem;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80rem;
    height: 40rem;
    box-sizing: border-box;
    border: 1px solid white;
}