.carousel {
    position: relative;
    top: 10rem;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80rem;
    height: 40rem;
    box-sizing: border-box;
    
    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        img {
            width: 80rem;
            height: 40rem;
            object-fit: contain;
        }
    }

    .number-text {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 2rem;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
    transition: all 100ms ease-in;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 37.5em) {
    .carousel {
        width: 30rem !important;
        height: 20rem !important;
        img {
            width: 30rem !important;
            height: 20rem !important;
        }
    }
}