:host {
  position: relative;
  z-index: 0;
  display: block;
}

section {
  background-position: center;
  height: 100vh;
  min-height: 70rem;
  max-height: 120rem;
  position: relative;
}

.about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95rem;
  width: 90%;
}

.info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.text {
  color: #cfcfcf;
  opacity: 0.9;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  line-height: 2;
}