<div class="main-container">
    <div class="title">
        <h1 class="heading-main">{{title}}</h1>
    </div>
    <div class="content">
        <app-work-project-template *ngFor="let entity of entities; let i = index" 
            [entity]="entity" 
            [description]="entity.description"
            [style.animation-delay]="i * 0.1 + 's'"
            (redirectToEvent)="redirectTo(entity)"></app-work-project-template>
    </div>
</div>
<div class="seperator" *ngIf="isDisplaySeperator()"></div>