<header>
    <div class="header-content">
        <div class="logo-container">
            <div class="image-container"><img src="assets/anand-pic.JPG" alt="Anandteertha Rao"></div>
            <span>Anandteertha Rao</span>
        </div>
        <div class="main">
            <ul class="links">
                <li class="link-wrapper">
                    <a href="#about" class="header-link">About</a>
                </li>
                <li class="link-wrapper">
                    <a href="#workExperience" class="header-link">Work Experience</a>
                </li>
                <li class="link-wrapper">
                    <a href="#projects" class="header-link">Projects</a>
                </li>
                <li class="link-wrapper">
                    <a href="#contact" class="header-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>