<header>
    <div class="header-content">
        <div class="logo-container">Anandteertha Rao</div>
        <div class="main">
            <ul class="links">
                <li class="link-wrapper">
                    <a href="#" class="header-link">About</a>
                </li>
                <li class="link-wrapper">
                    <a href="#" class="header-link">Work Experience</a>
                </li>
                <li class="link-wrapper">
                    <a href="#" class="header-link">Projects</a>
                </li>
                <li class="link-wrapper">
                    <a href="#" class="header-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>