header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(101, 100, 100, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.link-wrapper {
    list-style: none;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .3s;

    .image-container {
        width: 5rem;
        height: 5rem;
        border-radius: 50px;
        overflow: hidden;
        margin-right: 1.5rem;
        background: #7843E9;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            display: block;
        }
    }

    span {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

}

.main {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.links {
    display: flex;
}

.header-link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #FBF5E5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
    text-decoration: none;
}

@media only screen and (max-width: 37.5em) {
    .links {
        display: none;
    }
    .header-content {
        background-color: black;
    }
}